img{
    width: 30%;
    height: 30%;
}
#div1{
    
    border: 2px solid blue;
    display:inline-block;
    position: absolute;
   
}
#myimg{
    position: relative;
    float: left;
    width: 20%;
}

#myimg2{
    float:right;
}